.container{
    background-color: white;
    height: 500px;
}

.son{
    background-color: white;
    box-shadow: 0px 0px 25px rgb(182, 182, 182);
    backdrop-filter: blur(10px);
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 550px;
    border-radius: 20px;
    z-index: 1;
    margin-top: -50px;
    color: rgb(202, 131, 0);
    padding: 10px;
}

.formContainer{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-bottom: 25px;
}
.formContainer input{
    width: 230px;
    height: 22px;
}

.formMessage textarea{
    height: 100px;
}
.formFather{
    display: flex;
    flex-direction: row;

}
.formMessage{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}
.formMessage input{
    height: 200px;
}

.title{
    margin-bottom: 40px;
    color: rgb(202, 131, 0);
    margin-left: 10px;
}

.send{
    padding: 10px;
    width: 100px;
    margin-left: 225px;
    background-color:white ;
    color: rgb(202, 131, 0);
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    border: 1px solid rgb(202, 131, 0);

    
}
.sonContact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.broSon img{
    width: 450px;
    height: 450px;
}

.send:hover{
    background-color: rgb(202, 131, 0);
    color: white;
    animation-duration: 1s;
    animation-name: fadeIn;
    cursor: pointer;
    
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media (max-width: 414px){
    .son{
        margin-left: 120px;
        width: 150px;
        height: 80px;
        font-size: 12px;
    }
    .broSon{
        display: none;
    }
    .title{
        margin-top: 50px;
        margin-left: 20px;
        font-size: 10px;
    }
    .formContainer input{
        width: 150px;
    }
    .formMessage{
        width: 340px;
        height: 100px;
        margin-left: 20px;
    }
    .send{
        margin-left: 150px;
        margin-bottom: 50px;
    }
    .formContainer{
        margin-left: 20px; 
        margin-left: 0;
        padding-left: 7px;
    }
    .formFather{
        margin-left: 10px;
    }
}


@media (max-width: 379px){
    .son{
        margin-left: 95px;
    }
    .formMessage{
        margin-left: 10px;
    }
    .send{
        margin-left: 130px;
    }
}